{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}
{% block headerInfoUser %}{% endblock %}
{% block headerUserMenu %}{% endblock %}
{% block menu%}{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Bay</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-default btn-float-left" href="{{ path('login') }}">
                        {{'botao.login'|trans}}
                    </a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
