<form method="post" action="{{ path('clinica_delete', {'id': clinica.id}) }}" onsubmit="return confirm('{% trans with {'_entidade':'clinica'} %}mensagem.deletar{% endtrans %}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ clinica.id) }}">
    <button class="btn">Delete</button>
</form>