{% extends 'base.html.twig' %}

{% block title %}{{ 'titulo.clinica.editar'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">{{ 'titulo.clinica.editar'|trans }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ include( 'clinica/_form.html.twig',{'button_label':'botao.editar'|trans}) }}
            </div>
        </div>
    </div>
{% endblock %}