{% extends 'base.html.twig' %} {% block title %}New Cliente{% endblock %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">{{ 'titulo.cliente.editar'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ include( 'cliente/_form.html.twig') }} 
        </div>
    </div>
</div>
{% endblock %}