{% extends 'base.html.twig' %} 

{% block title %}New Cliente{% endblock %} 

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">{{ 'titulo.cliente.novo'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ include( 'cliente/_form.html.twig', {'path':'cliente_index'}) }} 
        </div>
    </div>
</div>
{% endblock %}