{% extends 'base.html.twig' %}

{% block title %}{{ 'titulo.agenda.editar'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">{{ 'titulo.agenda.editar'|trans }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ include('agenda/_form.html.twig', {'button_label': 'botao.editar'|trans}) }}
            </div>
        </div>
    </div>
{% endblock %}